<!DOCTYPE html>
<html lang="ko">
  <head>
    <%- include('./MainHead') %>
  </head>

  <body class="main-layout">
    <!-- 헤더 -->
    <%- include('./MainHeader') %>

    <!-- 알림 컨테이너 -->
    <div id="notification-container" class="notification-container"></div>

    <!-- 메인 컨텐츠 -->
    <main class="main-content"><%- content %></main>

    <!-- 푸터 -->
    <%- include('./MainFooter') %>
  </body>
</html>
