<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-info">
                <h3>SKKU 순수미술동아리</h3>
                <p>성균관대학교 인문사회과학캠퍼스 학생회관 80118호</p>
                <p>성균관대학교 자연과학캠퍼스 학생회관 03322호</p>
                <p>Email: skkfnrtclbdmnstrtn@gmail.com</p>
                <p>사이트 이용 메뉴얼 : <a
                        href="https://docs.google.com/document/d/11u9iU_oPkt5Z__o2DnfC4YyafSYY0Jp5WfQB4sHE6oE/edit?usp=sharing"
                        target="_blank"> 메뉴얼 보기</a></p>
            </div>
            <div class="footer-social">
                <a href="https://www.instagram.com/skku_fine_art?igsh=MXNpYTJ0YmQwcG1zOQ==" target="_blank"
                    aria-label="Instagram"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        <div class="footer-copyright">
            <p>&copy; 2024 SKKU 순수미술동아리. All rights reserved.</p>
        </div>
    </div>
</footer>
