<style ref="stylesheet">
    @import url('/css/common/components/usercommon.css');
    @import url('/css/user/Register.css');
</style>
<div class="page-container-user">
    <div class="page-content-user">
        <div class="page-card-user">
            <h1 class="page-title-user">회원가입</h1>
            <form id="registerForm" class="form-user" novalidate>
                <div class="form-group-user">
                    <label class="form-label-user" for="username">아이디</label>
                    <input type="text" id="username" name="username" class="form-control-user" required
                        placeholder="아이디를 입력하세요">
                </div>
                <div class="form-group-user">
                    <label class="form-label-user" for="email">이메일</label>
                    <div class="form-description-user">입력하신 이메일로 인증URL이 발송됩니다. 메일을 확인해주세요</div>
                    <input type="email" id="email" name="email" class="form-control-user" required
                        placeholder="이메일을 입력하세요">
                </div>
                <div class="form-group-user">
                    <label class="form-label-user" for="password">비밀번호</label>
                    <div class="password-input-group">
                        <input type="password" id="password" name="password" class="form-control-user" required>
                        <button type="button" class="toggle-password-user">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group-user">
                    <label class="form-label-user" for="confirmPassword">비밀번호 확인</label>
                    <div class="password-input-group">
                        <input type="password" id="confirmPassword" name="confirmPassword" class="form-control-user"
                            required>
                        <button type="button" class="toggle-password-user">
                            <i class="fas fa-eye"></i>
                        </button>
                    </div>
                </div>

                <div class="form-group-user">
                    <label class="form-label-user" for="name">이름</label>
                    <input type="text" id="name" name="name" class="form-control-user" required placeholder="이름을 입력하세요">
                </div>
                <div class="form-group-user">
                    <label class="form-label-user" for="role">회원 유형</label>
                    <select id="role" name="role" class="form-control-user" required>
                        <option value="">회원 유형을 선택하세요</option>
                        <option value="SKKU_MEMBER">성균관대 재학/졸업생</option>
                        <option value="EXTERNAL_MEMBER">외부 인원</option>
                    </select>
                </div>

                <div class="form-group-user" id="skkuFields" style="display: none;">
                    <div class="checkbox-group">
                        <input type="checkbox" id="isClubMember" name="isClubMember" class="form-checkbox-user">
                        <label for="isClubMember" class="form-checkbox-label-user">
                            성균관대 미술 동아리 회원입니다
                        </label>
                    </div>
                    <div class="input-row">
                        <div class="input-col department">
                            <label class="form-label-user" for="department">학과</label>
                            <input type="text" id="department" name="department" class="form-control-user"
                                placeholder="학과를 입력하세요">
                        </div>
                        <div class="input-col student-year">
                            <label class="form-label-user" for="studentYear">학번</label>
                            <input type="text" id="studentYear" name="studentYear" class="form-control-user"
                                placeholder="학번 2자리">
                        </div>
                    </div>
                </div>

                <div class="form-group-user" id="externalFields" style="display: none;">
                    <label class="form-label-user" for="affiliation">소속</label>
                    <input type="text" id="affiliation" name="affiliation" class="form-control-user"
                        placeholder="작품등록 시 표시될 소속">
                </div>

                <div class="button-group-user">
                    <button type="submit" class="btn-primary-user btn-block-user">회원가입</button>
                </div>
                <div class="alert-danger-user" style="display: none;"></div>
                <div class="alert-success-user" style="display: none;"></div>
                <div class="form-links-user">
                    <a href="/user/login" class="link-user">이미 계정이 있으신가요? 로그인</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="module" src="/js/page/user/Register.js"></script>
