<style ref="stylesheet">
  @import url('/css/common/components/usercommon.css');
  @import url('/css/user/ResetPassword.css');
</style>
<div class="page-container-user">
  <div class="page-content-user">
    <div class="page-card-user">
      <h1 class="page-title-user">비밀번호 재설정</h1>
      <form class="form-user" id="reset-password-form">
        <div class="form-group-user">
          <label for="new-password">새 비밀번호</label>
          <input
            type="password"
            id="new-password"
            name="new-password"
            class="form-control-user"
            required
            placeholder="새 비밀번호를 입력하세요"
          />
        </div>
        <div class="form-group-user">
          <label for="confirm-password">비밀번호 확인</label>
          <input
            type="password"
            id="confirm-password"
            name="confirm-password"
            class="form-control-user"
            required
            placeholder="비밀번호를 다시 입력하세요"
          />
        </div>
        <div class="form-group-user">
          <button type="submit" class="btn-primary-user btn-block-user">비밀번호 재설정</button>
        </div>
      </form>

      <!-- 토큰 만료 시 표시될 재발송 UI -->
      <div id="token-expired-container" style="display: none">
        <div class="alert alert-warning">
          <p>토큰이 만료되었습니다. 새로운 링크를 발송하려면 이메일을 입력하세요.</p>
        </div>
        <form class="form-user" id="resend-token-form">
          <div class="form-group-user">
            <label for="email-for-resend">이메일</label>
            <input
              type="email"
              id="email-for-resend"
              class="form-control-user"
              required
              placeholder="가입시 등록한 이메일을 입력하세요"
            />
          </div>
          <div class="form-group-user">
            <button type="submit" class="btn-primary-user btn-block-user">새 링크 받기</button>
          </div>
        </form>
        <div class="form-links-user">
          <a href="/user/login" class="link-user">로그인으로 돌아가기</a>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="module" src="/js/page/user/ResetPassword.js"></script>
