<header class="header">
    <nav class="nav">
        <div class="logo">SKKU FINE ARTCLUB</div>
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/exhibition">Exhibitions</a>
            <a href="/notice">Notices</a>
            <a href="/about">About</a>
            <a href="/user/login">Login</a>
        </div>
    </nav>
</header>
