<header class="adminHeader">
    <div class="adminHeader__top">
        <div>
            <h1 class="adminHeader__title">
                <%= title %>
            </h1>
            <div class="adminHeader__breadcrumb">
                관리자 <span>/</span>
                <%# breadcrumb 기능구현까지 주석처리 breadcrumb %>
            </div>
        </div>
        <%# 검색 기능 구현 전까지 주석 처리 <div class="adminHeader__search">
            <input type="text" placeholder="검색어를 입력하세요">
            <button type="button">
                <i class="fas fa-search"></i>
                검색
            </button>
    </div>
    %>
    </div>
</header>
