/* 회원가입 페이지 고유 스타일 */
.btn-block-user {
    width: 100%;
    display: flex;
}

.student-info-group {
    display: flex;
    gap: 1rem;
}

.student-info-group .form-group-user {
    flex: 1;
}

@media (max-width: 480px) {
    .student-info-group {
        flex-direction: column;
        gap: 1rem;
    }

    .student-info-group .form-group-user {
        width: 100%;
    }
}
