/* Footer Component */
footer {
    width: 100%;
    margin: 60px 0 0;
    padding: 20px 0;
    background-color: #f5f5f5;
    text-align: center;
    color: var(--secondary-color);
    font-size: 0.9rem;
}

footer .footer-container {
    width: 1200px;
    max-width: 95%;
    margin: 0 auto;
}

/* Responsive */
@media (width <= 768px) {
    footer {
        padding: 15px 0;
    }
} 