.header {
    background-color: var(--background-color);
    box-shadow: var(--box-shadow);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: var(--header-height);
}

.header .nav {
    width: var(--container-width);
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--primary-color);
}

.nav-links {
    display: flex;
    gap: 30px;
}

.nav-links a {
    color: var(--secondary-color);
    font-size: 0.9rem;
    font-weight: 500;
    transition: var(--transition);
}

.nav-links a:hover {
    color: var(--primary-color);
}

@media (width <= 1240px) {
    .header .nav {
        width: 95%;
        padding: 0 20px;
    }
}

@media (width <= 768px) {
    .nav {
        padding: 0 15px;
    }
    
    .nav-links {
        gap: 15px;
    }
} 